
@media (min-width: 992px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .mobile{
        display: none;
    }

    .settings-menu{
        display: none;
    }

    :root {
        --background: #f5f0ff;
        --h2: #220953;
        --h3: #220953;
        --p: #4B3E65;
        --nav-color: #220953;
        --footerbg: #1E0849;
        --imgbg: #E5D9FD;
        --bgallimg: #FFF;
        --bgborder: #E5D9FD;
    }

    #darkmode:checked~header,
    #darkmode:checked~main,
    #darkmode:checked~footer {
        --background: #14092A;
        --h2: #D1C0F1;
        --h3: #D1C0F1;
        --p: #A094B8;
        --nav-color: #D1C0F1;
        --footerbg: #14092A;
        --imgbg: #372A51;
        --bgallimg: #372A51;
        --bgborder: #372A51;
    }

    html {
        font-size: 16px;
        font-family: 'poppins';
        width: 100vw;

        /* mover background-color: del la configuracion global al html */
    }

    h1 {
        font-family: 'Lora';
        font-size: 1.5rem;
        font-weight: 500;

        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
    }


    h2 {
        font-family: 'Lora';
        font-size: 6rem;
        font-weight: 500;
        color: var(--h2);
    }

    h3 {
        font-family: 'Lora';
        font-size: 4rem;
        font-weight: 400;
        color: var(--h3);
    }

    h4 {
        font-family: 'Lora';
        font-size: 3.5rem;
        font-weight: 400;
        color: #FFF;
    }

    p {
        font-size: 1rem;
        font-family: 'poppins';
        font-weight: 400;
        color: var(--p);
    }

    #darkmode {
        position: absolute;
        top: 2rem;
        right: 13.2%;
        transform: scale(2.5);
        opacity: 0;
    }




    /* lightmode header////////////////////////////////////////////////////////////////////////// */
    .mobile-header {
        display: none;
    }

    .ligth-header {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
        margin-left: 13%;
        margin-right: 13%;
    }

    header {
        background-color: var(--background);

    }

    header nav ul {
        color: var(--nav-color);
        display: flex;
        gap: 2.5rem;

    }

    header nav ul li {
        list-style: none;
    }

    header nav ul li a {
        text-decoration: none;
    }

    header nav ul li a.active {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
    }

    .darkheader {
        display: none;
    }

    /* darkmode header///////////////////////////////////////////////////// */

    #darkmode:checked~header {
    

        .ligth-header {
            display: none;
        }

        header {
            background-color: var(--background);

        }

        .darkheader {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 0;
            padding-left: 13%;
            padding-right: 13%;
        }

        header nav ul {
            color: var(--nav-color);
            display: flex;
            gap: 2.5rem;
        }

        header nav ul li {
            list-style: none;
        }

        header nav ul li a {
            text-decoration: none;
        }

        header nav ul li a.active {
            background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            display: inline-block;
        }

        .header-images {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        #darkmode {
            display: none;
        }
    }




    main {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        background-color: var(--background);
    }

    .firstsection {
        margin-left: 13%;
        margin-right: 4%;
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        overflow: hidden;
    }

    .firstsection-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .yoga-teacher {
        margin-bottom: 1rem;
    }

    .yoga-teacher-text {
        margin-bottom: 2rem;
    }

    .get-started-button {
        margin-bottom: 3rem;
    }

    /* .adds {
        position: relative;
    } */

    .home-star {
        position: absolute;
        top: 10rem;
        right: -3%;
    }

    .home-dot {
        position: absolute;
        top: 23rem;
        left: -5%;
    }

    .yoga-teacher-span {
        display: inline-block;
        transform: rotate(10deg);
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 1rem;
        color: white;
        padding: .5rem .75rem;
    }

    .home-yoga-img {
        max-width: 37.5rem;
        /* height: 50%; */
        /* max-width: auto; */
    }

    .hole-home-yoga-img {
        position: relative;
    }

    .little-vector {
        position: absolute;
        top: 51%;
        right: 25%;
    }

    #darkmode:checked~main {
        .little-vector {
            display: none;
        }
    }

    .firstsection button {
        border-radius: 4rem;
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border: none;
        outline: none;
        color: white;
        padding: 1rem 1.75rem;
        min-width: fit-content;
        /* min */
    }

    .firstsection div {
        display: flex;
        justify-content: flex-start;
    }

    .firstsection div p {
        font-size: .75rem;
        display: grid;
        justify-items: center;
        color: var(--h2);
    }


    .firstsection div p span {
        font-size: 3.5rem;
    }

    .div-01 {
        margin-left: 13%;
        margin-right: 13%;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    .div-01-title {
        font-size: 3.5rem;
        color: var(--h2);
    }

    .list-yoga {
        background-color: var(--imgbg);
        border-radius: 10rem;
        width: 25rem;
        height: 11.25rem;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .list-yoga img {
        position: absolute;
        bottom: 1rem;

    }


    .liststar-and-text-01 {
        position: relative;
    }

    .liststar-01 {
        position: absolute;
        background-color: transparent;
    }

    .text-01 {
        padding-top: 1.8rem;
        padding-left: 1.4rem;
        max-width: 22rem;
    }


    .ellipse-and-text-01 {
        display: flex;
        align-items: center;
        position: relative;
    }

    .ellipse-01 {
        background: none;
    }

    .ellipse-and-text-01 button {
        max-width: 3rem;
        border: none;
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: absolute;
        left: 3rem;
    }

    .bring-happiness {
        margin-left: 13%;
        margin-right: 13%;
        display: flex;
        justify-content: space-between;

    }

    .bring-happiness-img-div {
        position: relative;
    }

    .Description-box-health-2 {
        position: absolute;
        top: 4.5rem;
        left: .5rem;
        background-color: var(--bgallimg);
        border-radius: .75rem;
        max-width: 10.5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: .75rem .5rem;
    }

    .Description-box-health-2 p span,
    .Description-box-health p span {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .bring-happiness-img {
        min-width: 31.25rem;
    }

    .Description-box-health {
        position: absolute;
        top: 83%;
        right: 10%;
        background-color: var(--bgallimg);
        padding: .75rem .5rem;
        border-radius: .75rem;
    }


    .bring-happiness-texts {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        padding: 7rem 0 7rem 2rem;
    }

    .bring-happiness-title {
        margin-bottom: 2.5rem;
    }

    .bring-happiness-text {
        margin-bottom: 2rem;
    }

    .button-bring-happiness {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 2rem;
        border: none;
        outline: none;
        color: white;
        padding: 1rem 1.75rem;
        max-width: 10.19rem;
        height: 3.5rem;
    }


    .anytime-div {
        margin-left: 13%;
        margin-right: 13%;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    .anytime-texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
    }

    .anytime-title {
        margin-bottom: 2.5rem;
    }

    .anytime-text {
        margin-bottom: 2rem;
    }

    .anytime-button {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 2rem;
        border: none;
        outline: none;
        color: white;
        padding: 1rem 1.75rem;
        height: fit-content;
        max-width: fit-content;

    }


    .anytime-img {
        /* height: 33.4rem; */
        height: 73.2dvh;
        /* width: clamp(50%,75rem,50%); */
        max-width: 50%;
        /* max-width: 75rem; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .play {
        display: flex;
        justify-content: space-evenly;
        gap: .5rem;
        padding: .75rem .5rem;
        background-color: var(--bgallimg);
        border-radius: 1rem;
        position: absolute;
        top: 10%;
        right: 3%;
        z-index: 1;
    }

    .routine-yoga-1 {
        border: .75rem solid var(--background);
        border-radius: 12rem;
        /* max-width: 31.25rem; */
        max-width: 90%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .routine-yoga-2 {
        align-self: flex-end;

        max-width: 90%;
        border-radius: 12rem;
    }

    .running {
        display: flex;
        justify-content: space-evenly;
        gap: .5rem;
        padding: .75rem .5rem;
        background-color: var(--bgallimg);
        border-radius: 1rem;
        position: absolute;
        bottom: 10%;
        left: -1%;
        z-index: 1;
    }

    .play span,
    .running span {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }


    .follow-us-div {
        margin-left: 13%;
        margin-right: 13%;
        display: grid;
    }

    .follow-us-img-and-texts {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .follow-us-img-and-texts img {
        max-width: 26%;
        border-radius: 12rem;
        border: .5rem solid var(--bgborder);

    }

    .follow-us-text-and-btn {
        /* max-width: 24.75rem; */
        max-width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .follow-us-text-and-btn span {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .follow-us-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .follow-btn {
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 2rem;
        border: none;
        outline: none;
        color: white;
        /* max-width: fit-content; */
        padding: 1rem;
        position: absolute;
        left: 47%;
        bottom: -60px;
    }

    .follow-us-2 {
        position: relative;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;

    }

    .follow-us-2 img {
        max-width: 45%;
        border-radius: 12rem;
        margin-top: 7rem;
        border: .5rem solid var(--bgborder);
    }

    .yoga6 {
        transform: rotate(15deg);
    }

    .yoga7 {
        transform: rotate(-15deg);
    }

    .newsletter {

        /* margin-inline: 13%; */
        margin-left: 13%;
        margin-right: 13%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 23.5rem;
        color: white;
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 2rem;
        border: none;
        outline: none;
        margin-bottom: 6rem;
    }

    .newsletter-title {
        margin-bottom: 1rem;
    }

    .newsletter-text {
        margin-bottom: 2.5rem;
        color: white;
        max-width: 55%;
        text-align: center;
    }

    .newsletter-title,
    .newsletter-text,
    .subscribe-form {
        background-color: transparent;
    }

    .subscribe-form {
        position: relative;
    }

    .subscribe-input {
        height: 4.5rem;
        width: 40dvw;
        border-radius: 2rem;
        border: none;
        outline: none;
        background-color: white;
        padding: 1.5rem;
    }

    .subscribe-button {
        max-width: fit-content;
        height: 3.5rem;
        border-radius: 2rem;
        border: none;
        outline: none;
        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        color: white;
        padding: 1rem 1.75rem;
        position: absolute;
        right: .5rem;
        bottom: .5rem;
    }

    /* footer */



    footer {

        padding: 4rem 10rem;
        background-color: var(--footerbg);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background-color: var(--footerbg);
    }

    .footer-top,
    .footer-title,
    .footer-nav,
    .footer-nav nav,
    .footer-nav nav ul,
    .footer-nav nav li,
    .footer-nav nav a,
    .footer-nav-text,
    .footer-bottom,
    .footer-division {
        background: transparent;
    }

    .footer-top h2 {
        font-family: 'Lora';
        font-size: 1.5rem;
        font-weight: 500;

        background: linear-gradient(73deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
    }

    footer p {
        color: #A197B4;
    }

    .footer-top {
        display: grid;
        grid-auto-flow: column;
        /* justify-content: space-between; */
        grid-template-columns: 20% auto;
        gap: 2.5rem;
        column-gap: 30%;


    }

    .footer-title {
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-nav nav ul {
        display: grid;
        grid-auto-flow: column;
        list-style: none;
    }

    .footer-nav nav ul li a {
        color: white;
        text-decoration: none;
    }

    .footer-nav-text {
        display: grid;
        grid-auto-flow: column;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }


}