@media (max-width: 991px) {
    .desktop{
        display: none;
    }

    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f5f0ff;
    }

    /* Header */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 1.5rem 1rem; */
    }

    .header-nav-list {
        display: none;
    }

    .header-yoga {
        position: absolute;
        left: 6%;
        top: 1.5%;
        font-family: 'Lora';
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .header-images {
        display: flex;
        padding: 4% 8% 0% 0%;
        gap: 20px;
    }

    .settings-img {
        padding-left: 0%;
    }

    /* Main Content */

    /* Yoga Teacher Section */

    main div:first-child {
        display: grid;
        place-items: center;
        position: relative;
        text-align: center;
    }

    .yoga-teacher {
        font-weight: 500;
        font-size: 44px;
        font-family: 'Lora';
        margin-top: 17%;
        color: #220953;
        line-height: 1.6;
        text-align: center;
    }

    .yoga-teacher-span {
        display: inline-block;
        color: white;
        font-weight: 400;
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 8px;
        transform: rotate(10deg);
        padding: 0% 2%;
        margin: 0 1% 0 2.5%;
    }

    .yoga-teacher-text {
        font-family: 'Poppins';
        margin-top: 4%;
        color: #4b3e65;
        text-align: center;
        margin-bottom: 6%;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }

    .get-started-button {
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 64px;
        border: none;
        color: white;
        padding: 4% 6%;
        font-family: 'Poppins';
        font-size: 15px;
    }

    .home-star {
        position: absolute;
        top: 22%;
        left: 12%;
    }

    .home-circle {
        position: absolute;
        top: 36%;
        right: 30%;
    }

    .stats-div {
        display: flex;
        margin-top: 1.5rem;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .p-300-yoga-class,
    .p-40-participants {
        font-size: 14px;
        color: #220953;
        font-family: 'Lora';
    }

    .span-300,
    .span-40 {
        font-size: 30px;
        font-family: 'Lora';
        color: #220953;
    }

    .home-yoga-img {
        margin-top: 10%;
    }

    /* #01 Section */

    .div-01-title-and-img {
        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .p-01-title {
        font-family: 'Lora';
        font-size: 30px;
        color: #220953;
        font-weight: 500;
    }

    .img-background {
        background-color: #e5d9fd;
        border-radius: 50px;
        width: 230px;
        height: 100px;
    }

    .img-background img {
        background: transparent;
        position: relative;
        top: -30px;
    }

    /* Star and Text After #01 */

    .liststar-and-text-01 {
        display: grid;
        justify-content: center;
        position: relative;
        padding-top: 10%;
        margin-bottom: 10%;
    }

    .text-01 {
        font-family: 'Poppins';
        color: #4c4066;
        text-align: center;
        padding: 0 5%;
    }

    .liststar-01 {
        position: absolute;
        background: none;
        left: 3.8%;
        top: 10%;
    }

    /* Ellipse and Next Button */

    .ellipse-and-text-01 {
        position: relative;
        display: grid;
        place-items: center;
    }

    .button-01 {
        border: none;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 500;
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
    }

    /* Bring Happiness Section */

    .bring-happiness {
        position: relative;
        text-align: center;
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .bring-happiness-title {
        font-family: 'Lora';
        font-size: 2rem;
        color: #220953;
        margin-top: 1.5rem;
        font-weight: 300;
    }

    .bring-happiness-text {
        font-family: 'Poppins';
        color: #4b3e65;
        margin-top: 1rem;
        margin-bottom: 2rem;
        line-height: 1.6;
    }

    .button-bring-happiness {
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border-radius: 64px;
        border: none;
        color: white;
        padding: 1rem 2rem;
        font-family: 'Poppins';
        font-size: 1rem;
    }

    .bring-happiness-texts {
        order: -1;
    }

    .floating-card {
        display: flex;
        position: absolute;
        background: white;
        border-radius: 16px;
        padding: 1rem;
        font-family: 'Poppins';
    }

    .daily-workout {
        top: 55%;
        left: 1.4rem;
    }

    .daily-workout p {
        color: #220953;
        font-size: 0.9rem;
        /* background-color: white; */
    }

    .heart-icon {
        object-fit: cover;
    }

    #bpm {
        font-weight: 300;
        font-family: 'Poppins';
        background-image: linear-gradient(to right, #FF52AF, #9F53FF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .floating-card-2 {
        display: grid;
        position: absolute;
        background: white;
        border-radius: 16px;
        padding: 0.7rem;
        font-family: 'Poppins';
    }

    .free-courses-div {
        bottom: 10%;
        right: 2rem;
    }

    .free-courses-div p {
        font-weight: 500;
    }

    .p-500plus {
        text-align: left;
        background-image: linear-gradient(to right, #FF52AF, #9F53FF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-color: white;
    }

    /* Anytime Div */

    .anytime-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4rem 1.5rem;
    }

    .anytime-title {
        font-family: 'Lora';
        font-size: 2rem;
        font-weight: 500;
        color: #220953;
        margin-bottom: 1rem;
    }

    .anytime-text {
        font-family: 'Poppins';
        color: #4b3e65;
        line-height: 1.6;
        margin-bottom: 2rem;
    }

    .anytime-button {
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        border: none;
        border-radius: 64px;
        color: white;
        padding: 1rem 2rem;
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: 400;
    }

    .anytime-image-container {
        position: relative;
        margin-top: 3rem;
    }

    .anytime-img {
        max-width: 100%;
        height: auto;
    }

    /* Follow Us Div */

    .follow-us-div {
        padding: 0rem 2rem;
        padding-bottom: 50rem;
        margin-top: 4rem;
        position: relative;
        text-align: center;
        overflow: hidden;
    }

    .follow-us-img-and-texts {
        position: relative;
        z-index: 10;
    }

    .follow-us-text {
        font-family: 'Lora';
        font-size: 2.2rem;
        color: #220953;
        line-height: 1.3;
        font-weight: 500;
    }

    .follow-us-text span {
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .follow-btn {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: none;
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        color: white;
        font-family: 'Poppins';
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.3;
        margin-top: 1.5rem;
    }

    .yoga4,
    .yoga5,
    .yoga6,
    .yoga7 {
        position: absolute;
        object-fit: cover;
        border-radius: 80px;
        border: 4px solid #e5d9fd;
    }

    .yoga4 {
        border-radius: 80px;
        width: 150px;
        height: 260px;
        top: 110%;
        left: 2%;
    }

    .yoga5 {
        border-radius: 100px;
        width: 150px;
        height: 260px;
        top: 130%;
        left: 55%;
    }

    .yoga6 {
        border-radius: 80px;
        width: 260px;
        height: 190x;
        top: 230%;
        left: 10%;
        transform: rotate(10deg);
    }

    .yoga7 {
        border-radius: 80px;
        width: 260px;
        height: 190x;
        top: 300%;
        left: 25%;
        transform: rotate(-10deg);
    }

    /* Newsletter */

    .newsletter {
        background: linear-gradient(160deg, #ff52af, #9f53ff);
        margin: 20px;
        padding: 2.5rem 2rem;
        border-radius: 40px;
        text-align: center;
        color: #ffffff;
    }

    .newsletter-title {
        font-family: 'Lora';
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .newsletter-text {
        font-family: 'Poppins';
        line-height: 1.6;
        font-weight: 300;
        margin-bottom: 2.5rem;
        opacity: 0.9;
    }

    .subscribe-input {
        width: 100%;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 50px;
        font-family: 'Poppins';
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #333;
    }

    .subscribe-input::placeholder {
        color: #999;
    }

    .subscribe-button {
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 50px;
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        color: white;
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    /* Footer */

    footer {
        background-color: #1e0849;
        color: #9d93b1;
        font-family: 'Poppins';
        padding: 5rem 1.5rem 2rem 1.5rem;
        line-height: 1.7;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-title h2 {
        font-family: 'Lora';
        font-size: 1.5rem;
        background: linear-gradient(1.19deg, #FF52AF 11%, #9F53FF 89.86%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    .footer-title p,
    .footer-nav-text p {
        opacity: 0.8;
    }

    .footer-nav a {
        font-family: 'Lora';
        text-decoration: none;
        color: #edecf1;
        font-size: 1.4rem;
        font-weight: 100;
        display: block;
    }

    .footer-nav {
        display: flex;
    }

    .adress-footer {
        order: 0;
    }

    .adress-text {
        order: 1;
    }

    .footer-nav,
    .footer-nav-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer-divider {
        border: none;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 1.5rem 0;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }

    .footer-top {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-nav,
    .footer-nav-text {
        display: contents;
    }

    .footer-title {
        grid-column: 1 / -1;
        margin-bottom: 2rem;
    }

    .adress-footer {
        order: 1;
    }

    .adress-text {
        order: 2;
    }

    .contact-footer {
        order: 3;
    }

    .contact-text {
        order: 4;
    }

    .office-footer {
        order: 5;
    }

    .office-text {
        order: 6;
    }

    /* Switch Between Light and Dark Mode */

    /* Hide Checkbox */
    .theme-toggle-checkbox {
        display: none;
    }

    .theme-toggle-label .sun-img {
        display: none;
    }

    .theme-toggle-label .moon-img {
        display: block;
    }

    #theme-toggle:checked~.page-container .theme-toggle-label .sun-img {
        display: block;
    }

    #theme-toggle:checked~.page-container .theme-toggle-label .moon-img {
        display: none;
    }

    /* Dark Theme */
    #theme-toggle:checked~.page-container {
        background-color: #14092a;
    }

    #theme-toggle:checked~.page-container .yoga-teacher,
    #theme-toggle:checked~.page-container .p-01-title,
    #theme-toggle:checked~.page-container .p-300-yoga-class,
    #theme-toggle:checked~.page-container .p-40-participants,
    #theme-toggle:checked~.page-container .span-300,
    #theme-toggle:checked~.page-container .span-40,
    #theme-toggle:checked~.page-container .bring-happiness-title,
    #theme-toggle:checked~.page-container .anytime-title,
    #theme-toggle:checked~.page-container .follow-us-text {
        color: #F5F0FF;
    }

    #theme-toggle:checked~.page-container .yoga-teacher-text,
    #theme-toggle:checked~.page-container .bring-happiness-text,
    #theme-toggle:checked~.page-container .anytime-text,
    #theme-toggle:checked~.page-container .text-01 {
        color: #9D93B1;
    }

    #theme-toggle:checked~.page-container .floating-card,
    #theme-toggle:checked~.page-container .floating-card-2 {
        background: #2c125c;
    }

    #theme-toggle:checked~.page-container .floating-card p,
    #theme-toggle:checked~.page-container .floating-card-2 p {
        color: #9D93B1;
    }

    #theme-toggle:checked~.page-container .floating-card #bpm,
    #theme-toggle:checked~.page-container .floating-card-2 .p-500plus {
        background-image: linear-gradient(to right, #FF52AF, #9F53FF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    #theme-toggle:checked~.page-container .yoga4,
    #theme-toggle:checked~.page-container .yoga5,
    #theme-toggle:checked~.page-container .yoga6,
    #theme-toggle:checked~.page-container .yoga7 {
        border: 4px solid #372a51;
    }

    #theme-toggle:checked~.page-container .img-background {
        background-color: #3a1a7a;
    }

    #theme-toggle~.page-container .anytime-img-dark {
        display: none;
    }

    #theme-toggle:checked~.page-container .anytime-img-dark {
        display: block;
    }

    #theme-toggle:checked~.page-container .anytime-img {
        display: none;
    }

    #theme-toggle:checked~.page-container footer {
        background-color: #14092a;
    }

    #theme-toggle:checked~.page-container .settings-img {
        display: none;
    }

    .settings-img-dark {
        display: none;
    }

    #theme-toggle:checked~.page-container .settings-img-dark {
        display: block;
    }

    /* Settings Page */

    .menu-toggle-checkbox {
        display: none;
    }

    .settings-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: #f8f9fa;
        padding: 2rem 1.5rem;
        font-family: 'Poppins';
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    #menu-toggle:checked~.settings-menu {
        transform: translateX(0);
    }

    .settings-menu .close-menu-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
    }

    .settings-menu ul {
        list-style: none;
        margin-top: 60px;
    }

    .settings-menu ul li {
        margin-bottom: 2rem;
    }

    .settings-menu ul li a {
        text-decoration: none;
        color: #220953;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .settings-menu ul li a.active {
        background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    #theme-toggle:checked~.settings-menu {
        background-color: #a9a9a9;
    }

    #theme-toggle:checked~.settings-menu a {
        color: #d1c0f0;
    }

    .settings-icon-dark {
        display: none;
    }

    #theme-toggle:checked~.settings-menu .settings-icon-dark {
        display: block;
    }

    #theme-toggle:checked~.settings-menu .settings-icon {
        display: none;
    }

}